fastapi===0.135.3
ultralytics==8.4.37
opencv-python==4.13.0.92
moviepy===2.2.1
uvicorn===0.45.0
python-multipart===0.0.26
websockets==16.0
pillow==12.2.0
transformers==5.5.4
sentencepiece===0.2.1
onnxruntime===1.24.4