fastapi===0.115.12
ultralytics==8.3.78
opencv-python==4.13.0.92
moviepy===2.2.1
uvicorn===0.22.0
python-multipart===0.0.26
websockets==12.0
pillow==12.2.0
transformers==5.5.4
sentencepiece===0.2.0
onnxruntime===1.24.4